<div class="row">
  <% item_group.each do |item| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><%= item.name %></div>
        <div class="panel-body">
          <%= item.body %>
          <% if item.avatar_file_name != nil %>
            <%= image_tag item.avatar.url, class: "image-fit-to-panel img-rounded" %>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= link_to item_path(item), class: "btn btn-success btn-block btn-sm" do %>
            <span class="glyphicon glyphicon-shopping-cart"> <%= number_to_currency(item.price, :unit => "$") %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
